[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[ dn ]
C = AU
ST = Queensland
L = Brisbane City
O = HydrateMate LLC
OU = HM
CN = 3.25.58.119

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 3.25.58.119

